<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <%= javascript_tag 'application' %>
  <%= javascript_tag 'pixi/pixi.min' %>

  <%= javascript_tag 'src/renderer/renderer' %>
  <%= javascript_tag 'src/renderer/minimap/minimap' %>
  <%= javascript_tag 'src/renderer/map/viewport' %>
  <%= javascript_tag 'src/renderer/map/chunk' %>

  <%= javascript_tag 'src/utils' %>
  <%= javascript_tag 'src/factory' %>
  <%= javascript_tag 'src/collider' %>
  <%= javascript_tag 'src/objects' %>
  <%= javascript_tag 'src/map_generator' %>
  <%= javascript_tag 'src/map' %>
  
  <%= javascript_tag 'src/game' %>
  <%= javascript_tag 'src/main' %>
</head>
<body onload="init()">
  <%= yield %>
</body>
</html>