<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <%= javascript_tag 'application' %>
  <%= javascript_tag 'pixi/pixi.min' %>
  <%= javascript_tag 'utils' %>
  <%= javascript_tag 'factory' %>
  <%= javascript_tag 'collider' %>
  <%= javascript_tag 'game_objects' %>
  <%= javascript_tag 'map_generator' %>
  <%= javascript_tag 'game_map' %>
  <%= javascript_tag 'renderer' %>
  <%= javascript_tag 'game' %>
  <%= javascript_tag 'main' %>
</head>
<body onload="init()">
  <%= yield %>
</body>
</html>